<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDi0GrHq9Y3Y57wpx2q7YWGF_UW99Df4n8</string>
	<key>GCM_SENDER_ID</key>
	<string>1002617026303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kamil.CoffeeShopApp</string>
	<key>PROJECT_ID</key>
	<string>coffeeshopappdb</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeeshopappdb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002617026303:ios:0a01913e159f21bd35feca</string>
</dict>
</plist>